.DS_Store
*.pyc
__pycache__/
*.pyo
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Environments
.env/
env/
.venv/
venv/
env*
ENV/
env.bak/
venv.bak/